<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <h1>Welcome to your Express + EJS App!</h1>
    <%- include('partials/footer') %>
</body>
</html>
